#landing {
    text-align: center;
}

#categories {
    display: flex;  
}

#card-body {
    background: url(./11.png);
    background-size: cover;
    height: 300px;
    
}

/* #parentCardBody {
    height: 300px;
    width: 500px;
    
} */

#card-body:visited {
    background: url(./12.png);
    background-size: cover;
    height: 300px;
}

/* p {
    float: center; 
    visibility: hidden;
} */

img {
    height: 300px;
    width: 300px;
 
}

img:active {
    height: 300px;
    width: 300px;
    visibility: hidden;
}
