body {
	background: rgb(103, 137, 170);
	/* background: rgb(96, 229, 247); */
	/* background: black; */
}

#title {
	font-size: 3em;
	font-family: "Trade Winds", sans-serif;
	color: gold;
}
/* 
#loveCookie {
	display: flex;
	padding: 10px;
	/* width: 400px; */
/* } */

#loveCookieImg {
	display: flex;
	/* width: 900px; */
	justify-content: center;
}

/* #quote {
	background: blue;
	/* overflow: auto; */
/* display: center;
	width: 900px;
	height: 50px;
} */

.container {
	position: relative;
	text-align: center;
	color: black;
}

/* Bottom right text */
.centered {
	position: absolute;
	top: 16%;
	left: 36%;
	transform: translate(-50%, -50%);
	transform: skewY(-195deg);
	width: 453px;
	height: 122px;
	border: 1px solid white;
	text-align: center;
}

p {
	padding-top: 5px;
	text-align: center;
	text-justify: auto;
	color: black;
	font-family: "Permanent Marker", sans-serif;
	font-weight: 300;
	font-size: 15px;
	display: block;
}

.cardTitle {
	/* padding-top: 5px; */
	text-align: center;
	/* text-justify: auto; */
	color: black;
	font-family: "Permanent Marker", sans-serif;
	font-weight: 300;
	font-size: 20px;
	/* display: block; */
}

.centered2 {
	position: absolute;
	top: 30%;
	left: 34%;
	transform: translate(-50%, -50%);
	transform: skewx(220deg);
	width: 50px;
	height: 100px;
	border: 1px solid white;
}

.colImg {
	margin: 30px;
}

#loveBtn {
	transition: all 2s ease 2s;
}

.button:focus,
.button:active {
	outline: none !important;
	box-shadow: none !important;
}

#loveBtn:hover {
	outline: none !important;
	box-shadow: none !important;
	height: 350px;
	margin-right: 25px;
}
